{% extends "base.html" %}

{% block content %}

    <h1>My Blog</h1>

    {% for post in posts %}
        <h2>
        {% if post.language == 'pol' %}🇵🇱{% else %}🇬🇧{% endif %} {{ post.title }}
        </h2>
        <p>{{ post.text|safe }}</p>
    {% endfor %}

{% endblock %}
