{% extends "base.html" %}

{% block content %}
<h1>Search my blog</h1>

<form method="GET" class="form-inline">
    {{ form }}
    <button type="submit" class="search btn btn-default">Go!</button>
</form>

{% if search_phrase %}
    {% for post in object_list %}
        <h2>
        {% if post.language == 'pol' %}🇵🇱{% else %}🇬🇧{% endif %} {{ post.title }}
        </h2>
        <p>{{ post.headline|safe }}</p>
    {% empty %}
          <p>No posts found.</p>
    {% endfor %}
{% endif %}
{% endblock %}