{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Potato Blog</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
{#        shhh... this is just a silly demo... #}
        h2 {
            color: #f37221;
        }

    </style>
    </head>
    <body>
        <div class="container-fluid">
            <main>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </body>
</html>
